@font-face{font-family:'Mondelez';src:url('/assets/font/mondelez_font.TTF') format('truetype');font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'Calibri';src:url('/assets/font/calibri-regular.ttf') format('truetype');font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'Calibri';src:url('/assets/font/calibri-bold.ttf') format('truetype');font-weight:700;font-style:normal;font-display:swap}


* {
  position: relative;
  box-sizing: border-box;
  font-family:'Mondelez',Arial,Helvetica,sans-serif;
  font-weight: 400;
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  overflow: hidden auto;

  @include media(1500) {
    font-size: 14px;
  }

  @include media(1200) {
    font-size: 12px;
  }
}

input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  border: none;
}

a{color: #000000; text-decoration: none;}
ul{list-style-type: none;}
button{border: none; background: transparent;}

p {
  color: var(--main-color-dark);
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
}

ul, ol {
  li {
    color: var(--main-color-dark);
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.2em;
    text-transform: uppercase;
  }
}

.bozp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  background-color: var(--background-color-light);
  overflow: hidden auto;

  .bozp-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .bozp-page {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .bozp-flash {
      position: absolute;
      top: 0;
      color: var(--main-color-light);
      font-size: 1.75em;
      font-weight: 400;
      line-height: 1.2em;
      text-transform: uppercase;
      padding: 1em 1.42em;
      z-index: 100;

      &.bozp-flash--notice {
        background-color: green;
      }

      &.bozp-flash--error {
        background-color: red;
      }
    }

    .bozp-alert {
      font-size: 1.5em;
      background-color: red;
      border-radius: 4px;
      padding: 5px 10px;
    }
  }
}

.bozp-status {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1em;
  //font-weight: 600;
  line-height: 1.2em;
  white-space: nowrap;

  &::before {
    content: "";
    display: block;
    width: 1.125em;
    height: 1.125em;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
  }

  &.bozp-status--draft{
    color:#6b7280;

    &::before {
      background-image: url('https://testing.takeitsro.sk/assets/svg/state/draft.svg');
    }
  }
  &.bozp-status--submitted{
    color:#d97706;

    &::before {
      background-image: url('https://testing.takeitsro.sk/assets/svg/state/submitted.svg');
    }
  }
  &.bozp-status--approved{
    color:#16a34a;

    &::before {
      background-image: url('https://testing.takeitsro.sk/assets/svg/state/approved.svg');
    }
  }
  &.bozp-status--rejected{
    color:#dc2626;

    &::before {
      background-image: url('https://testing.takeitsro.sk/assets/svg/state/rejected.svg');
    }
  }
  &.bozp-status--signed{
    color:#2563eb;

    &::before {
      background-image: url('https://testing.takeitsro.sk/assets/svg/state/rejected.svg');
    }
  }
  &.bozp-status--active{
    color:#0891b2;

    &::before {
      background-image: url('https://testing.takeitsro.sk/assets/svg/state/rejected.svg');
    }
  }
  &.bozp-status--pending_closure{
    color:#ea580c;

    &::before {
      background-image: url('https://testing.takeitsro.sk/assets/svg/state/pending-closure.svg');
    }
  }
  &.bozp-status--pending,
  &.bozp-status--pending_signatures {
    color:#d97706;

    &::before {
      background-image: url('https://testing.takeitsro.sk/assets/svg/state/pending.svg');
    }
  }
  &.bozp-status--closed{
    color:#2286EF;

    &::before {
      background-image: url('https://testing.takeitsro.sk/assets/svg/state/closed.svg');
    }
  }
  &.bozp-status--cancelled{
    color:#991b1b;

    &::before {
      background-image: url('https://testing.takeitsro.sk/assets/svg/state/cancel.svg');
    }
  }
  &.bozp-status--expired{
    color:#9f1239;

    &::before {
      background-image: url('https://testing.takeitsro.sk/assets/svg/state/expired.svg');
    }
  }

  &.bozp-status--ok{
    color:#16a34a;

    &::before {
      background-image: url('https://testing.takeitsro.sk/assets/svg/state/approved.svg');
    }
  }
  &.bozp-status--stopped{
    color:#991b1b;

    &::before {
      background-image: url('https://testing.takeitsro.sk/assets/svg/state/cancel.svg');
    }
  }
  &.bozp-status--issues {
    color:#d97706;

    &::before {
      background-image: url('https://testing.takeitsro.sk/assets/svg/state/pending.svg');
    }
  }
}