.bozp-form-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  background-color: var(--background-color-pink);
  border-radius: 1.25em;
  border: none;
  padding: 1.25em 1.25em 2.5em 1.25em;

  legend {
    color: var(--main-color);
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.2em;
    text-transform: uppercase;
  }

  .bozp-form__yesno {
    display: flex;
    align-items: center;
    gap: 20px;

    .bozp-form__yesno-opt {
      width: calc(50% - 10px);
      display: flex;
      align-items: center;
      gap: 10px;

      input {
        position: absolute;
        left: 0;
        width: 1.625em;
        height: 1.625em;
        opacity: 0;
        cursor: pointer;
      }

      .custom_radio {
        width: 1.625em;
        height: 1.625em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid var(--main-color);

        &::after {
          content: "";
          position: absolute;
          width: 1.125em;
          height: 1.125em;
          border-radius: 50%;
          background-color: var(--main-color);
          transform: scale(0);
          transition: all 0.3s ease;
        }
      }

      input:checked~.custom_radio::after {
        transform: scale(1);
      }

      span {
        width: calc(100% - 10px - 1.625em);
        color: var(--main-color);
        font-size: 1.25em;
        font-weight: 400;
        line-height: 1.2em;
        text-transform: uppercase;
      }
    }
  }

  .bozp-fall-risks__applied,
  .bozp-fall-risks__controlled {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .bozp-fall-risks__opt {
      display: flex;
      align-items: center;
      gap: 10px;

      input {
        position: absolute;
        left: 0;
        width: 1.625em;
        height: 1.625em;
        opacity: 0;
      }

      .custom_radio {
        width: 1.625em;
        height: 1.625em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid var(--main-color);

        &::after {
          content: "";
          position: absolute;
          width: 1.125em;
          height: 1.125em;
          border-radius: 50%;
          background-color: var(--main-color);
          transform: scale(0);
          transition: all 0.3s ease;
        }
      }

      input:checked~.custom_radio::after {
        transform: scale(1);
      }

      span {
        color: var(--main-color);
        font-size: 1.25em;
        font-weight: 400;
        line-height: 1.2em;
        text-transform: uppercase;
      }
    }
  }

  .bozp-form-section__hint {
    width: 100%;
    max-width: 500px;
    color: var(--main-color);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2em;
    text-transform: uppercase;
  }

  .bozp-form-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.125em;

    > label, .bozp-form-row__label {
      width: calc(50% - 1.5625em);
      min-width: 280px;
      color: var(--main-color);
      font-size: 1.25em;
      font-weight: 400;
      line-height: 1.2em;
      text-transform: uppercase;
    }

    > input {
      width: calc(50% - 1.5625em);
      min-width: 280px;
      min-height: 4em;
      color: var(--main-color) !important;
      font-family: "Calibri", Arial, Helvetica, sans-serif;
      font-size: 1em;
      font-weight: 700;
      line-height: 1.2em;
      border: 2px solid var(--main-color) !important;
      border-radius: 0.4em;
      background-color: var(--form-input-bg-light) !important;
      padding: 0.5em 1em;
    }

    > textarea {
      width: calc(50% - 1.5625em);
      color: var(--main-color) !important;
      font-family: "Calibri", Arial, Helvetica, sans-serif;
      font-size: 1em;
      font-weight: 700;
      line-height: 1.2em;
      border: 2px solid var(--main-color) !important;
      border-radius: 0.4em;
      background-color: var(--form-input-bg-light) !important;
      padding: 0.5em 1em;
    }

    > select {
      width: calc(50% - 1.5625em);
      min-width: 280px;
      min-height: 4em;
      color: var(--main-color) !important;
      font-family: "Calibri", Arial, Helvetica, sans-serif;
      font-size: 1em;
      font-weight: 700;
      line-height: 1.2em;
      border: 2px solid var(--main-color) !important;
      border-radius: 0.4em;
      background-color: var(--form-input-bg-light) !important;
      padding: 0.5em 1em;
    }

    > .bozp-form__yesno {
      width: calc(50% - 1.5625em);
      min-width: 280px;
    }
  }

  &.bozp-form-section--hazards {
    max-width: 100%;
    display: grid;
    grid-template-columns: 100%;
    overflow: hidden;
  }

  .bozp-form__hazards {
    display: block;
    width: 100%;
    max-width: 100%;
    align-self: flex-start;
    overflow-x: auto;

    .bozp-hazards {
      width: max-content;
      min-width: 100%;
      table-layout: auto;

      th {
        color: var(--main-color);
        font-size: 1.75em;
        font-weight: 400;
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: center;
        padding: 0.2857em 0.5714em;

        &:first-child {
          text-align: left;
          padding: 0.2857em 0.5714em 0.2857em 0;
        }

        &:last-child {
          padding: 0.2857em 0 0.2857em 0.5714em;
        }
      }

      .bozp-hazards__row {
        th {
          color: var(--main-color);
          font-size: 1.25em;
          font-weight: 400;
          line-height: 1.2em;
          text-transform: uppercase;
          text-align: left;
        }

        .label_wrapper {
          max-width: 200px;
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 2.5em;
          }
        }

        td {
          color: var(--main-color);
          font-size: 1em;
          font-weight: 400;
          line-height: 1.2em;
          text-transform: uppercase;
          padding: 0.5em 1em;

          &:first-child {
            padding: 0.5em 0.1em 0.5em 0;
          }

          &:last-child {
            padding: 0.5em 0 0.5em 0.1em;
          }

          &.bozp-hazards__measure {
            textarea {
              width: 100%;
              height: calc(4.1875em + 10px);
              color: var(--main-color) !important;
              font-family: "Calibri", Arial, Helvetica, sans-serif;
              font-size: 1em;
              font-weight: 700;
              line-height: 1.2em;
              border: 2px solid var(--main-color) !important;
              border-radius: 0.4em;
              background-color: var(--form-input-bg-light) !important;
              padding: 0.25em 0.5em;
            }
          }

          &.bozp-hazards__control {
            select {
              width: 100%;
              color: var(--main-color) !important;
              font-family: "Calibri", Arial, Helvetica, sans-serif;
              font-size: 1em;
              font-weight: 700;
              line-height: 1.2em;
              border: 2px solid var(--main-color) !important;
              border-radius: 0.4em;
              background-color: var(--form-input-bg-light) !important;
              padding: 0.25em 0.5em;
            }

            input {
              width: 100%;
              color: var(--main-color) !important;
              font-family: "Calibri", Arial, Helvetica, sans-serif;
              font-size: 1em;
              font-weight: 700;
              line-height: 1.2em;
              border: 2px solid var(--main-color) !important;
              border-radius: 0.4em;
              background-color: var(--form-input-bg-light) !important;
              padding: 0.25em 0.5em;
              margin-top: 10px;
            }
          }

        }

      }
    }

  }

  .bozp-form__highrisk-types {
    display: flex;
    flex-direction: column;
    gap: 1.25em;

    .bozp-form__highrisk-opt {
      display: flex;
      align-items: center;
      gap: 10px;

      input {
        position: absolute;
        left: 0;
        width: 1.625em;
        height: 1.625em;
        opacity: 0;
      }

      .custom_checkbox {
        width: 1.625em;
        height: 1.625em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5em;
        border: 2px solid var(--main-color);

        &::after {
          content: "";
          position: absolute;
          width: 1em;
          height: 1em;
          background-image: url("https://testing.takeitsro.sk/assets/svg/ok.svg");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          transform: scale(0);
          transition: all 0.3s ease;
        }
      }

      input:checked~.custom_checkbox::after {
        transform: scale(1);
      }

      span {
        color: var(--main-color);
        font-size: 1.25em;
        font-weight: 400;
        line-height: 1.2em;
        text-transform: uppercase;
      }
    }
  }

  .bozp-form-row_column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .bozp-form__step-row {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > input {
        width: calc(100% - 20px);
        min-width: 300px;
        min-height: 3em;
        color: var(--main-color) !important;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.2em;
        border: 2px solid var(--main-color) !important;
        border-radius: 0.4em;
        background-color: var(--form-input-bg-light) !important;
        padding: 0.5em 1em;
      }
    }
  }

  .bozp-fall-risks {
    th {
      color: var(--main-color);
      font-size: 1.75em;
      font-weight: 400;
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: center;
      padding: 0.2857em 0.5714em;

      &:first-child {
        text-align: left;
        padding: 0.2857em 0.5714em 0.2857em 0;
      }

      &:last-child {
        padding: 0.2857em 0 0.2857em 0.5714em;
      }
    }

    .bozp-fall-risks__row {
      th {
        color: var(--main-color);
        font-size: 1.25em;
        font-weight: 400;
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: left;
      }

      td {
        color: var(--main-color);
        font-size: 1em;
        font-weight: 400;
        line-height: 1.2em;
        text-transform: uppercase;
        padding: 0.5em 1em;

        &:last-child {
          padding: 0.5em 0 0.5em 1em;
        }

        > input {
          width: 100%;
          color: var(--main-color) !important;
          font-size: 1em;
          font-weight: 400;
          line-height: 1.2em;
          border: 2px solid var(--main-color) !important;
          border-radius: 0.4em;
          background-color: var(--form-input-bg-light) !important;
          padding: 0.25em 0.5em;
          margin-top: 10px;
        }
      }
    }
  }

  .bozp-form__checklist {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25em;

    .bozp-form__check {
      display: flex;
      align-items: flex-start;
      gap: 0.625em;

      input {
        position: absolute;
        left: 0;
        width: 1.625em;
        height: 1.625em;
        opacity: 0;
        cursor: pointer;
      }

      .custom_checkbox {
        width: 1.625em;
        height: 1.625em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        border: 2px solid var(--main-color);

        &::after {
          content: "";
          position: absolute;
          width: 1.125em;
          height: 1.125em;
          border-radius: 3px;
          background-color: var(--main-color);
          transform: scale(0);
          transition: all 0.3s ease;
        }
      }

      input:checked~.custom_checkbox::after {
        transform: scale(1);
      }

      span {
        color: var(--main-color);
        font-size: 1.25em;
        font-weight: 400;
        line-height: 1.2em;
        text-transform: uppercase;
      }
    }
  }

  .bozp-form-grid {
    width: 100%;
    display: flex;
    gap: 3.125em;

    .bozp-form-row {
      width: calc(50% - 1.5625em);
      gap: 1.25em;

      > label {
        width: calc(50% - 0.625em);
        min-width: unset;
      }

      > input {
        width: calc(50% - 0.625em);
        min-width: unset;
      }
    }
  }

  .bozp-form-row--file {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5em;

    .bozp-form__file-selected {
      color: var(--main-color);
      font-size: 1.75em;
      font-weight: 400;
      line-height: 1.2em;
      text-transform: uppercase;
    }

    .bozp-form__file {
      display: flex;
      align-items: center;
      gap: 1.25em;

      .bozp-form__file-hint {
        color: var(--main-color);
        font-family: "Calibri", Arial, Helvetica, sans-serif;
        font-size: 1.25em;
        font-weight: 400;
        line-height: 1.2em;
      }

      .bozp-form__file-trigger {
        display: flex;
        align-items: center;
        gap: 5px;

        .bozp-form__file-icon {
          height: 1.5em;
        }

        .bozp-form__file-trigger-label {
          color: var(--main-color);
          font-size: 1.75em;
          font-weight: 400;
          line-height: 1.2em;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .bozp-form__file-input {
        display: none;
      }
    }
  }

  @media (max-width: 1200px) {
    .bozp-form-row {
      gap: 2.5em;

      > label, .bozp-form__label {
        width: calc(50% - 1.25em);
      }

      > input {
        width: calc(50% - 1.25em);
      }

      > textarea {
        width: calc(50% - 1.25em);
      }

      > select {
        width: calc(50% - 1.25em);
      }
    }
  }

  @media (max-width: 800px) {
    .bozp-form-row--file {
      .bozp-form__file {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;

        .bozp-form__file-trigger {
          align-self: flex-end;
        }
      }
    }
  }

  @media (max-width: 600px) {
    padding: 1.25em 10px 2.5em 10px;

    legend {
      font-size: 2em;
    }

    .bozp-form-row {
      gap: 10px;
      flex-direction: column;
      align-items: flex-start;

      > label, .bozp-form__label {
        width: 100%;
      }

      > input {
        width: 100%;
        min-height: 3em;
      }

      > textarea {
        width: 100%;
        min-height: 3em;
      }

      > select {
        width: 100%;
        min-height: 3em;
      }
    }
  }
}

.bozp-page--permit-form {
  min-height: calc(100vh - 3.75em);
  gap: 2.5em;
  padding: 5em;

  .bozp-page__header {
    width: 100%;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5em;

    h1 {
      color: var(--main-color);
      font-size: 3.75em;
      font-weight: 400;
      line-height: 1.2em;
      text-transform: uppercase;
    }
  }

  .bozp-form {
    width: 100%;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    //align-items: start;
    gap: 2.5em;

    .bozp-form__actions {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 2.5em;
    }
  }

  @media (max-width: 1200px) {
    padding: 5em 2.5em;
  }

  @media (max-width: 600px) {
    gap: 2.5em;
    padding: 2.5em 10px 5em 10px;

    .bozp-page__header {
      gap: 1.25em;

      h1 {
        font-size: 2.5em;
      }
    }

    .bozp-form {
      .bozp-form__actions {
        flex-direction: column;
        align-items: center;
        gap: 1.25em;

        .bozp-btn {
          width: 100%;
        }
      }
    }
  }
}