.bozp-page--subpermit-select {
  min-height: calc(100vh - 3.75em);
  gap: 5em;
  padding: 5em;

  .bozp-page__header {
    width: 100%;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25em;

    .bozp-page__back {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .bozp-subpermit-types {
    width: 100%;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;

    .bozp-subpermit-type-card {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 2.5em;

      .bozp-subpermit-type-card__info {
        width: calc(100% - 150px - 2.5em);
        display: flex;
        align-items: center;
        gap: 1.25em;

        span {
          font-size: 1.5em;

          &.bozp-subpermit-type-card__required-badge {
            font-size: 1.5em;
            background-color: orange;
            border-radius: 4px;
            padding: 5px 10px;
          }
        }
      }

      .bozp-btn {
        width: 150px;
      }
    }
  }
}

.bozp-page--subpermit-form {
  min-height: calc(100vh - 3.75em);
  gap: 5em;
  padding: 5em;

  .bozp-page__header {
    width: 100%;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2.5em;
  }

  .bozp-form {
    width: 100%;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    gap: 2.5em;

    .bozp-form__section {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.25em;
      padding: 1.25em;

      legend {
        color: var(--main-color);
        font-size: 1.25em;
        font-weight: 400;
        line-height: 1.2em;
        text-transform: uppercase;
      }

      .bozp-form__field {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1.25em;

        > label {
          width: calc(50% - 0.625em);
          min-width: 300px;
          color: var(--main-color);
          font-size: 1.25em;
          font-weight: 400;
          line-height: 1.2em;
          text-transform: uppercase;
        }

        > input {
          width: calc(50% - 0.625em);
          min-width: 300px;
          color: var(--main-color-light) !important;
          font-size: 1em;
          font-weight: 400;
          line-height: 1.2em;
          border: 1px solid var(--form-input-border) !important;
          border-radius: 8px;
          background-color: var(--form-input-bg) !important;
          padding: 0.5em 1em;
        }

        > textarea {
          width: calc(50% - 0.625em);
          color: var(--main-color-light) !important;
          font-size: 1em;
          font-weight: 400;
          line-height: 1.2em;
          border: 1px solid var(--form-input-border) !important;
          border-radius: 8px;
          background-color: var(--form-input-bg) !important;
          padding: 0.5em 1em;
        }

        .bozp-form__hint {
          width: 100%;
        }

        &.bozp-form__field_column {
          flex-direction: column;

          .bozp-form__step-row {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            > input {
              width: calc(100% - 20px);
              min-width: 300px;
              color: var(--main-color-light) !important;
              font-size: 1em;
              font-weight: 400;
              line-height: 1.2em;
              border: 1px solid var(--form-input-border) !important;
              border-radius: 8px;
              background-color: var(--form-input-bg) !important;
              padding: 0.5em 1em;
            }
          }
        }
      }

      .bozp-form__hazards {
        width: 100%;

        .bozp-hazards {
          width: 100%;

          th {
            color: var(--main-color);
            font-size: 1.25em;
            font-weight: 400;
            line-height: 1.2em;
            text-transform: uppercase;
          }

          td {
            color: var(--main-color);
            font-size: 1em;
            font-weight: 400;
            line-height: 1.2em;
            text-transform: uppercase;
            padding: 0.5em 1em;
          }
        }

      }

      .bozp-form__highrisk-types {
        display: flex;
        flex-direction: column;
        gap: 1.25em;

        .bozp-form__highrisk-opt {
          display: flex;
          align-items: center;
          gap: 0.625em;

          input {
            width: 20px;
            height: 20px;
          }

          span {
            color: var(--main-color);
            font-size: 1.5em;
            font-weight: 400;
            line-height: 1.2em;
            text-transform: uppercase;
          }
        }
      }

      .bozp-form__checklist {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25em;

        .bozp-form__check {
          display: flex;
          align-items: flex-start;
          gap: 0.625em;

          input {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .bozp-form__actions {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 2.5em;


    }
  }
}