:root {
  --main-color: #4F2170;
  --main-color-light: #FEFFFD;
  --main-color-dark: #000000;
  --form-input-border: #200633;
  --form-input-bg: #653489;
}

@font-face {
  font-family: "Mondelez";
  src: url("/assets/font/mondelez_font.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  position: relative;
  box-sizing: border-box;
  font-family: "Mondelez", Arial, Helvetica, sans-serif;
  font-weight: 400;
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  border: none;
}

a {
  color: #000000;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
}

p {
  color: var(--main-color-dark);
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
}

.bozp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  background-color: var(--background-color-light);
  overflow: hidden auto;
}
.bozp .bozp-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bozp .bozp-main .bozp-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bozp .bozp-main .bozp-flash {
  position: absolute;
  top: 0;
  color: var(--main-color-light);
  font-size: 1.75em;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
  padding: 1em 1.42em;
  z-index: 100;
}
.bozp .bozp-main .bozp-flash.bozp-flash--notice {
  background-color: green;
}
.bozp .bozp-main .bozp-flash.bozp-flash--error {
  background-color: red;
}

.bozp-header {
  width: 100%;
}
.bozp-header .bozp-header__user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.25em;
  padding: 0.625em 5em;
}
.bozp-header .bozp-header__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25em;
  background-image: url("/assets/svg/header_bg.svg");
  background-size: cover;
  background-position: center;
  padding: 2.5em 5em;
}
.bozp-header .bozp-header__inner .bozp-header__brand svg {
  height: 3.75em;
}
.bozp-header .bozp-header__inner .bozp-header__brand svg path {
  fill: var(--main-color-light);
}
.bozp-header .bozp-header__inner .bozp-header__nav {
  display: flex;
  align-items: center;
  gap: 2.5em;
}
.bozp-header .bozp-header__inner .bozp-header__nav a {
  color: var(--main-color-light);
  font-size: 1.75em;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
}

.bozp-footer {
  width: 100%;
  height: 3.75em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5em;
  background-color: var(--main-color);
  background-image: url("/assets/svg/footer_bg.svg");
  background-size: cover;
  background-position: center;
  padding: 1.25em 5em;
}
.bozp-footer span {
  color: var(--main-color);
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
}
.bozp-footer span a {
  color: var(--main-color);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
}

.bozp-page--login {
  min-height: calc(100vh - 3.75em);
  justify-content: center;
  background-color: var(--main-color);
  padding: 5em;
}
.bozp-page--login .bozp-login {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bozp-page--login .bozp-login .bozp-login__logo {
  width: 100%;
}
.bozp-page--login .bozp-login .bozp-login__logo svg {
  width: 100%;
}
.bozp-page--login .bozp-login .bozp-login__logo svg path {
  fill: var(--main-color-light);
}
.bozp-page--login .bozp-login .bozp-login__lang {
  display: flex;
  align-items: center;
  gap: 5em;
  margin: 5em 0;
}
.bozp-page--login .bozp-login .bozp-login__lang a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.bozp-page--login .bozp-login .bozp-login__lang a svg {
  width: 48px;
  border-radius: 50%;
}
.bozp-page--login .bozp-login .bozp-login__lang a span {
  color: var(--main-color-light);
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
}
.bozp-page--login .bozp-login .bozp-login__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625em;
}
.bozp-page--login .bozp-login .bozp-login__header h1 {
  color: var(--main-color-light);
  font-size: 3.75em;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
}
.bozp-page--login .bozp-login .bozp-login__header p {
  color: var(--main-color-light);
}
.bozp-page--login .bozp-login .bozp-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  margin-top: 2.5em;
}
.bozp-page--login .bozp-login .bozp-form .bozp-form__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625em;
}
.bozp-page--login .bozp-login .bozp-form .bozp-form__field > label {
  color: var(--main-color-light);
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
}
.bozp-page--login .bozp-login .bozp-form .bozp-form__field > input {
  width: 100%;
  height: 4em;
  color: var(--main-color-light) !important;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.2em;
  border: 1px solid var(--form-input-border) !important;
  border-radius: 8px;
  background-color: var(--form-input-bg) !important;
  padding: 1em;
}
.bozp-page--login .bozp-login .bozp-form .bozp-form__field .bozp-form__error {
  color: red;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.2em;
}
.bozp-page--login .bozp-login .bozp-form .bozp-form__field.bozp-form__field--error input {
  border: 1px solid red;
}
.bozp-page--login .bozp-login .bozp-form .bozp-form__field.bozp-form__field--checkbox {
  flex-direction: row;
}
.bozp-page--login .bozp-login .bozp-form .bozp-form__field.bozp-form__field--checkbox label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bozp-page--login .bozp-login .bozp-form .bozp-form__field.bozp-form__field--checkbox label input {
  width: 20px;
  height: 20px;
  padding: 0;
}
.bozp-page--login .bozp-login .bozp-form .bozp-form__field.bozp-form__field--checkbox label span {
  width: calc(100% - 30px);
  color: var(--main-color-light);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
}
.bozp-page--login .bozp-login .bozp-form .bozp-form__actions {
  width: 100%;
  margin-top: 1.25em;
}
.bozp-page--login .bozp-login .bozp-form .bozp-form__actions .bozp-btn {
  width: 100%;
  height: 3.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color-dark);
  border-radius: 6.25em;
}
.bozp-page--login .bozp-login .bozp-form .bozp-form__actions .bozp-btn span {
  color: var(--main-color-light);
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
}
.bozp-page--login .bozp-login .bozp-login__help {
  color: var(--form-input-bg);
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-top: 2em;
}

/*# sourceMappingURL=main.css.map */
